# 1) Importing Dataset

In [34]:
import pandas as pd
df = pd.read_csv('spam.csv', encoding="latin")

In [35]:
df = df.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"])

# 2) Importing required libraries

In [36]:
import nltk
import re

In [37]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [38]:
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [60]:
from sklearn.feature_extraction.text import CountVectorizer

In [71]:
from sklearn.model_selection import train_test_split

# 3) Data preprocessing

In [56]:
ps = PorterStemmer()
data = []

In [57]:
length = df.shape[0]

In [58]:
for i in range (0,length):
  temp = df['v2'][i]
  
  #subsitiuting non-letter symbols with spaces
  temp = re.sub('[^a-zA-Z]',' ', temp)

  #change case of words to lower case
  temp = temp.lower()

  #split the text
  temp = temp.split()

  #remove stopwords
  temp = [ps.stem(word) for word in temp if not word in set(stopwords.words('english'))]

  temp = ' '.join(temp)
  data.append(temp)

In [61]:
cv = CountVectorizer()

In [120]:
x = cv.fit_transform(data).toarray()

In [95]:
df["Label"]=df["v1"].map(
    {
        "ham":0,
        "spam":1
    }
)
df

        v1                                                 v2  Label
0      ham  Go until jurong point, crazy.. Available only ...      0
1      ham                      Ok lar... Joking wif u oni...      0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...      1
3      ham  U dun say so early hor... U c already then say...      0
4      ham  Nah I don't think he goes to usf, he lives aro...      0
...    ...                                                ...    ...
5567  spam  This is the 2nd time we have tried 2 contact u...      1
5568   ham              Will Ì_ b going to esplanade fr home?      0
5569   ham  Pity, * was in mood for that. So...any other s...      0
5570   ham  The guy did some bitching but I acted like i'd...      0
5571   ham                         Rofl. Its true to its name      0

[5572 rows x 3 columns]

In [99]:
y = df.iloc[:,2:3].values

In [100]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

# 4) Create model

In [101]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [102]:
model = Sequential()

# 5) Adding Layers

In [103]:
model.add(Dense(1565, activation='relu'))
model.add(Dense(3000, activation='relu'))
model.add(Dense(1, activation='relu'))

# 6) Compiling the model

In [104]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# 7) Fitting the model

In [105]:
model.fit(x_train,y_train,epochs=10)

Epoch 1/10
140/140 [==============================] - 18s 119ms/step - loss: 0.2705 - accuracy: 0.9661
Epoch 2/10
140/140 [==============================] - 17s 120ms/step - loss: 0.1719 - accuracy: 0.9877
Epoch 3/10
140/140 [==============================] - 17s 119ms/step - loss: 0.4077 - accuracy: 0.9713
Epoch 4/10
140/140 [==============================] - 16s 118ms/step - loss: 0.1911 - accuracy: 0.9872
Epoch 5/10
140/140 [==============================] - 16s 115ms/step - loss: 0.1917 - accuracy: 0.9870
Epoch 6/10
140/140 [==============================] - 16s 113ms/step - loss: 0.2398 - accuracy: 0.9823
Epoch 7/10
140/140 [==============================] - 16s 117ms/step - loss: 0.2041 - accuracy: 0.9863
Epoch 8/10
140/140 [==============================] - 17s 121ms/step - loss: 0.3244 - accuracy: 0.9782
Epoch 9/10
140/140 [==============================] - 16s 117ms/step - loss: 0.3211 - accuracy: 0.9780
Epoch 10/10
140/140 [==============================] - 16s 113ms/step - loss: 0.3845 - accuracy: 0.9746

# 8) Saving the model

In [106]:
model.save('spam.h5')

# 9) Testing the model

In [129]:
y1 = model.predict(x_test)
y1 = y1>0.5
c = 0
for i in range(len(x_test)):
  if y_test[i]==y1[i]:
    c = c+1
print("Accuracy: ", c/len(x_test))

35/35 [==============================] - 2s 56ms/step
Accuracy:  0.9632286995515695